html, body { 
    word-wrap: break-word; /* تأكد من أن الكلمات تنزل للسطر الجديد */
    overflow-wrap: break-word; /* تأكد من أن النصوص لا تختفي */
    font-family: 'Marhey', sans-serif;
    direction: rtl;
}
.navbar {
    
    background: #eee1e1;
    color: #3964f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 1px 5px #858383;

}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.nav-logo img {
    /* max-height: 100px; */
    width: 120px;
    /* قم بتعديل العرض كما يناسبك */
    height: 120px;
    /* تأكد من الحفاظ على نسبة العرض إلى الارتفاع */

}
.back img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}