.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* .whatsapp-button i {
    font-size: 30px;
    transition: none;
} */
#icon {
    font-size: 30px;
}

.navbar {
    background: #eee1e1;
    color: #3964f1;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* width: 100%; */
    z-index: 1000;
    box-shadow: 1px 1px 5px #858383;

}

.navbar .toggle-btn {
    color: #3964f1;
    font-size: 3rem;
    /* display: none; */
    cursor: pointer;
}

.navbar .toggle-btn i {
    display: inline-block;
}

/* dropdown menue*/
.navbar .dropdown {
    display: none;
    position: absolute;
    right: 4rem;
    top: 90px;
    background: #3964f1;
    width: auto;
    height: 0;
    text-align: center;
    overflow: hidden;
    padding: 2rem 0.8rem;
    border-radius: 10px;
    transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
}

.navbar .dropdown.open {
    height: auto;
    opacity: 1;
    display: block;
}

.navbar .dropdown li {
    list-style: none;
    padding: 1rem 0.4rem;
}

.navbar .dropdown li a {
    text-decoration: none;
    color: #fff;
}

.navbar .dropdown li a:hover {
    color: #ccc;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo img {
    /* max-height: 100px; */
    width: 170px;
    /* قم بتعديل العرض كما يناسبك */
    height: 150px;
    /* تأكد من الحفاظ على نسبة العرض إلى الارتفاع */
}


@media (max-width: 768px) {
    .navbar .nav-container .toggle-btn {
        display: block;
    }


}